body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 auto;
  background: #a64942;
}

header {
  font-family: "Montserrat", sans-serif;
  font-size: 61px;
  text-align: center;
  font-weight: 800;
}

footer {
  font-family: "IBM Plex Serif", serif;
  font-size: 20px;
  text-align: center;
}

#LEGO {
  margin: 5px;
  padding: 20px;
}

#container {
  height: 769px;
}

#middle {
  display: flex;
  background-color: #364968;
  border-style: solid;
}

#image {
  flex-grow: 1;
  position: relative;
  width: 440px;
  padding: 40px;
  margin: 5px;
}

#paragraph {
  flex-grow: 2;
  position: relative;
  width: 440px;
  padding: 20px;
  margin: 5px;
  font-family: "Nanum Pen Script", cursive;
  text-transform: uppercase;
  color: #fddf97;
  font-size: 20px;
}

#name {
  flex-grow: 3;
  position: fixed;
  width: 150px;
  padding: 10px;
  color: lightslategray;
  background-color: #1b435d;
  border-style: solid;
  bottom: 20px;
  right: 20px;
}

#span:hover {
  color: orangered;
  font-size: 20px;
}
